{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container py-5">
    <div class="login-container">
        {% if errormsg %}
            <div class="alert alert-danger" role="alert">
                {{errormsg}}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
        {% endif %}


        <!-- Login Form -->
        <h2 class="login-header">Santa's Logistics Registration</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="uname" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="text" name="uemail" class="form-control" id="email" placeholder="Enter your email id" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="upass" class="form-control" id="password" placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" name="ucpass" class="form-control" id="confirm-password" placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="btn btn-custom w-100">Register</button>
        </form>
        <!-- Forgot password link -->
        <div class="forget-pass">
            <a href="/login" style="color: #ff204e;">Already have an account?</a>
        </div>
    </div>
</div>
{% endblock 'main' %}
